.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
assets/**
node_modules
out/
src/
webpack.config.js

# Includes dynamic imports, marked as external in webpack
!node_modules/kafka-node
!node_modules/optional